.card-body {
    padding: 1rem;
}

.card-style-2 {
    background: $white-2-ngr;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    border: none;
}

.card-opacity {
    background: rgba( 0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
}

.card-opacity-vacant {
    right: 0;
    width: 31%;
    height: inherit;
    background: rgba( 0, 0, 0, 0.5);
    @media (min-width: 767px) and (max-width: 992px) {
        width: 40%;
    }
}

.card-vacant--job {
    background: #FAFAFA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    @media screen and (min-width: 768px) {
        margin-right: 10px;
        margin-left: 10px;
    }
}

.card-admin {
    height: 220px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.rounded-card-admin {
    border-radius: 20px;
}

// height card opacity personalice
.h-img-card {
    height: 180px;
    @media screen and (min-width: 768px) {
        height: 288px;
    }
}