.bg-config-card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-vacant-desktop {
    background-image: url("../images/pj-1.png");
    height: 700px;
    @media (min-width: 767px) and (max-width: 1024px) {
        height: 745px;
    }
}

.img-card-vacant {
    background-image: url("../images/bb-2.png");
}

.img-vacant--item {
    width: 80px;
}

.pos-bg-logo-left {
    left: 0;
    top: 64vh;
    z-index: 0;
    @media (min-width: 767px) and (max-width: 992px) {
        display: none;
    }
}

.pos-bg-logo-right {
    right: 0;
    top: 0;
    z-index: 0;
    @media (min-width: 767px) and (max-width: 992px) {
        display: none;
    }
}

.pos-bg-logo-right-2 {
    right: 0;
    top: -208px;
    z-index: 0;
    @media (min-width: 767px) and (max-width: 992px) {
        display: none;
    }
}

.pos-icon--back {
    left: 25px;
}

.icon-menu {
    width: 30px;
    margin-right: 10px;
}

.bg-search {
    @media screen and (min-width: 768px) {
        background-image: url("../images/Img-fondo-buscador.png");
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.bg-ngr {
    @media screen and (min-width: 992px) {
        background-image: url("../images/fondo.png");
        background-size: 105%;
        background-position: top;
        background-repeat: repeat-y;
    }
}

.brand-detail {
    width: 180px;
}

.banner-tip {
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    height: 300px;
    @media screen and (min-width: 768px) {
        height: 500px;
    }
}

.bg-tip-opacity {
    background-color: rgba( 0, 0, 0, 0.5);
    height: inherit;
}

.logo-admin {
    width: 150px;
}

.img-benefit {
    width: 150px;
    @media screen and (min-width: 992px) {
        width: 100%;
        padding: 3rem;
    }
}

.img-brand-job {
    @media screen and (min-width: 992px) {
        width: 100%;
        padding: 1rem;
    }
}

.job-img {
    max-height: 96px;
}

.icon-down {
    height: 30px;
}