.bg-config-card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-vacant-desktop {
    background-image: url("../images/pj-1.png");
    height: 700px;
}

.img-card-vacant {
    background-image: url("../images/bb-2.png");
}

.img-vacant--item {
    width: 80px;
}

.pos-bg-logo-left {
    left: 0;
    top: 64vh;
    z-index: 0;
}

.pos-bg-logo-right {
    right: 0;
    top: 0;
    z-index: 0;
}

.pos-bg-logo-right-2 {
    right: 0;
    top: -208px;
    z-index: 0;
}