.carousel-img {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-img--1 {
    background-image: url("../images/cw-1.png");
}

.carousel-img--2 {
    background-image: url("../images/bb-1.png");
}