// Titles custom
.title-5-primary {
    font-family: $font-family-semi-bold;
    font-size: $title-5;
}

.title-6-primary {
    font-size: $title-6;
}

.title-7-primary {
    font-size: $title-7;
}

.title-8-primary {
    font-size: $title-8;
}

// Color Text
.text-gray-3 {
    color: $gray-3-ngr;
}

.text-orange-2 {
    color: $orange-ngr;
}

// Text Weight
.font-weight-bold-2 {
    font-family: $font-family-base-bold;
}