//hide
.hide-mobile {
    @media screen and (max-width: 769px) {
        display: none;
    }
}

// Position
.pos-relative--bottom {
    bottom: -7rem;
}

//grid gutter especific mobile
.grid-gutter-left {
    padding-left: 0 !important;
}

.grid-gutter-right {
    padding-right: 0 !important;
}