    //hide
    .hide-mobile {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    
    .hide-desktop {
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    
    // Position
    .pos-relative--bottom {
        bottom: -7rem;
    }
    
    .pos-input-search {
        @media screen and (min-width: 768px) {
            bottom: 50px;
        }
    }
    
    // Width especial
    .w-60 {
        width: 60%;
    }
    
    // Container Mobile 
    .container-mobile {
        padding-left: 15px;
        padding-right: 15px;
        @media screen and (min-width: 768px) {
            padding: 0;
        }
    }
    
    .align-special-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-columns: 1fr 1fr;
        grid-gap: 10px;
        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(5, 1fr);
            -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
            justify-items: stretch;
            grid-gap: 0;
        }
    }
    
    .form-align-search {
        @media screen and (min-width: 768px) and (max-width: 1025px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        @media screen and (min-width: 1026px) {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
    
    .container-filter {
        @media screen and (min-width: 768px) {
            width: 45%;
        }
    }
    
    .container-filter--right {
        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
    
    .grid-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-gap: 4rem;
    }
    
    .grid-7 {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        grid-gap: 1em;
        // Medium devices (tablets, 768px and up)
        @media (min-width: 767px) and (max-width: 1024px) {
            grid-template-columns: repeat(4, 1fr);
            -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }
    }
    
    .grid-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-columns: 1fr 1fr;
        align-items: center;
        justify-items: flex-end;
    }
    
    .index-2 {
        z-index: 2;
    }