// Colors Brand
$dark-red-ngr: #A83035;
$light-red-ngr: #FF4338;
$orange-ngr: #FF8300;
$yellow-ngr: #FFC56C;
$gray-1-ngr: #A0A0A0;
$gray-2-ngr :#B8ACAC;
$gray-3-ngr: #6D6969;
$white-ngr :#FFF;
$white-2-ngr:#FAFAFA;
//Tipography
@font-face {
    font-family: "Omnes";
    src: url("../assets/fonts/Omnes_Regular.ttf");
}

@font-face {
    font-family: "Omnes Semibold";
    src: url("../assets/fonts/omnes-semibold-webfont.ttf");
}

@font-face {
    font-family: "Omnes Bold";
    src: url("../assets/fonts/Omnes_Bold.otf");
}

// Fonts Brand
$font-family-base: "Omnes";
$font-family-semi-bold: "Omnes Semibold";
$font-family-base-bold: "Omnes Bold";
// Variables Update Color
$primary: $dark-red-ngr;
$secondary: $gray-1-ngr;
$success: $light-red-ngr;
$danger:$orange-ngr;
$info:$yellow-ngr;
$warning:$gray-2-ngr;
// Size title
$title-1:3.5rem;
$title-2:2.8rem;
$title-3: 2rem;
$title-4: 1.8rem;
$title-5:1.5rem;
$title-6:1.2rem;
$title-7:0.97rem;
$title-8:13px;